body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #f1f1f1;

    
}

.container{
  height: 800px;
    width: 600px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    
}

.display{
    height: 150px;
    width: 450px;
    border: 1px solid black;
    margin-top: 10px;
}

.buttons{
    height: 550px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.button{
    height: 80px;
    width: 80px;
}